<br/>
<div class="card-deck">
  <div class="row">
    <div class="col-8">
    <% flash.each do |type, msg| %>
      <div class="alert alert-primary">
        <%= msg %>
      </div>
    <% end %>
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
          <div class="row">
            <div class="col-8">
              <p>Name</p>
            </div>
            <div class="col-2">
              <p>Quantity</p>
            </div>
            <div class="col-1">
              <p>Price</p>
            </div>
            <div class="col-1">
            </div>
          </div>
        </li>
      <% @items.each do |product| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-8">
              <p><%= product.name %></p>
            </div>
            <div class="col-2">
              <p><%= session[:cart][product.id.to_s] %></p>
            </div>
            <div class="col-1">
            <% if product.saleprice.nil? %>
              <p><%= number_to_currency(product.price.to_f / 100 * session[:cart][product.id.to_s], precision: 2) %></p>
            <% else %>
              <p class="text-danger"><del><%= number_to_currency(product.price.to_f / 100 * session[:cart][product.id.to_s], precision: 2) %></del>
              <p><%= number_to_currency(product.saleprice.to_f / 100 * session[:cart][product.id.to_s], precision: 2) %></p>
            <% end %>
            </div>
            <div class="col-1">
              <%= link_to 'X', cart_path(product), method: :delete %>
            </div>
          </div>
        </li>
        <% end %>
        <li class="list-group-item list-group-item-dark">
          <div class="row">
            <div class="col-8">
              <p>Total</p>
            </div>
            <div class="col-2">
            </div>
            <div class="col-1">
              <p><%= number_to_currency(@count.to_f / 100, precision: 2) %></p>
            </div>
            <div class="col-1">
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <p>Payment</p>
    </div>
  </div>
</div>