<br>

<% if current_user %>
  <h1><%= current_user.email %></h1>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <h1>You should sign in!</h1>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>

<div class="border-bottom">
  <h1 class="display-5">RC's on Sale</h1>
  <div class="card-deck mb-3">
    <div class="row">
      <% @products_on_sale.each do |product| %>
        <div class="col-xl-3 col-lg-4 col-md-6 mt-4">
          <a class="hover_card" href="<%= product_path product.id %>">
            <div class="">
              <div class="car car-index">
                <% if product.image.present? %>
                  <%= image_tag product.image, class:"card-img-top" %>
                <% end %>
              </div>
              <div class="info-home">
                <h2><%= product.name %></h2>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="border-bottom">
  <h1 class="display-5">Newest Arrivals</h1>
  <div class="card-deck mb-3">
    <div class="row">
      <% @products_new.each do |product| %>
        <div class="col-xl-3 col-lg-4 col-md-6 mt-4">
          <a class="hover_card" href="<%= product_path product.id %>">
            <div class="">
              <div class="car car-index">
                <% if product.image.present? %>
                  <%= image_tag product.image, class:"card-img-top" %>
                <% end %>
              </div>
              <div class="info">
                <h2><%= product.name %></h2>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>