<div class="card-deck">
  <div class="row">
    <% @filter.each do |filter| %>
      <div class="col-xl-3 col-lg-4 col-md-6 mt-4">
        <a class="hover_card" href="<%= pricetype_path filter.id %>">
          <div class="card">
          <% if filter.pricetype.name == "New" %>
              <div class="card_banner_new">
                <h2><%= filter.pricetype.name %>!</h2>
              </div>
            <% elsif filter.pricetype.name == "On Sale" %>
              <div class="card_banner_sale">
                <h2><%= filter.pricetype.name %>!</h2>
              </div>
            <% end %>
            <div class="car car-index">
              <img class="card-img-top" src="/assets/<%= filter.image %>" alt="Image">
            </div>
            <div class="info">
            <% if filter.saleprice.nil? %>
              <h1><%= number_to_currency(filter.price.to_i / 100) %></h1>
            <% else %>
              <h1><del><%= number_to_currency(filter.price.to_i / 100) %></del> <%= number_to_currency(filter.saleprice.to_i / 100) %></h1>
            <% end %>
              <h2><%= filter.name %></h2>
            </div>
            <div class="sizes">
              <button type="button" class="btn btn-outline-dark">Add to Cart</button>
            </div>
          </div>
        </a>
      </div>
    <% end %>
   </div>
</div>

<div class="pag">
  <%= paginate @filter %>
</div>