<div class="card-deck">
  <div class="row">
    <% @categories.each do |category| %>
      <% next if category.name == "All Categories"%>
      <div class="col-lg-4 col-md-6 mt-4">
        <a class="hover_card" href="<%= category_path category.id %>">
          <div class="card card-category">
            <div class="car car-index">
              <% if category.products.first.image.present? %>
                <%= image_tag category.products.first.image, class:"card-img-top" %>
              <% end %>
            </div>
            <div class="info info-category">
              <h1><%= category.name %></h1>
              <h3><%= category.description %></h3>
            </div>
            <div class="sizes">
              <button type="button" class="btn btn-outline-dark">View Models</button>
            </div>
          </div>
        </a>
      </div>
    <% end %>
    <% @filters.each do |filter| %>
      <% if filter.products.size > 0 %>
        <div class="col-lg-4 col-md-6 mt-4">
          <a class="hover_card" href="<%= pricetype_path filter.id %>">
            <div class="card card-category">
              <div class="car car-index">
                <% if filter.products.first.image.present? %>
                  <%= image_tag filter.products.first.image, class:"card-img-top" %>
                <% end %>
              </div>
              <div class="info info-category">
                <h1><%= filter.name %></h1>
                <h3><%= filter.description %></h3>
              </div>
              <div class="sizes">
                <button type="button" class="btn btn-outline-dark">View Models</button>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
   </div>
</div>